body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Fallback background color */
  background-image: url('https://previews.123rf.com/images/mangpor2004/mangpor20041605/mangpor2004160500099/56383918-to-do-list-background-template.jpg');
  background-size: cover;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  cursor: url('https://www.huion.com/uploadfile/image/20210331/1617152393315253.png'), auto;
  cursor: pointer;
  border-radius: 8px;
 
  padding: 20px;
  width: 300px;
}

.todo-container h1 {
  margin-top: 0;
}

input[type="text"] {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: transparent; /* Ensure input background is transparent */
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}
